/* stylesheet for building a Landing Page project */
:root {
    --sixty-color: #fff;
    --thirty-color: #ddd0c8;
    --ten-color: #323232;
    --highlight-color: #876652;
}

/* === SECTIONS === */
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: var(--sixty-color);
    color: var(--ten-color);
}

header {
    background-color: var(--thirty-color);
    overflow: hidden;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

section {
    margin-top: 100px;
    padding-top: 4em;
}

small {
    width: 98%;
    padding-right: 0.2em;
    display: inline-block;
    text-align: right;
}

/* === FONTS === */
section > h2 {
    margin-top: 2em;
}

h1 {
    margin-bottom: -0.3em;
    font-size: 4rem;
}

h3 {
    color: var(--highlight-color);
}

/* === FORM elements === */
form {
    text-align: center;
    margin-top: 2em;
}

input[type="submit"], button {
    background-color: var(--thirty-color);
    color: var(--ten-color);
    font-weight: bold;
}


/* === NAV generic == */
ul {
    list-style: none;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
}

/* === SECTIONS specific === */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper {
    background-color: var(--thirty-color);
}

.footer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1em;
    align-items: center;
    margin-bottom: 0;
    padding: 2em;
}

.hero-guitar {
    margin-top: 8em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stetch;
}

.card {
    flex: 0 1 30%;
    border: 1px solid var(--thirty-color);
    padding: 0.4em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* === NAV specific === */
.nav-link {
    color: var(--ten-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 1em;
}

.nav-link:hover {
    background-color: var(--sixty-color);
}

/* === FONTS specific === */
.highlight {
    color: var(--highlight-color);
}

.hero-subtitle {
    font-size: 1.6rem;
    margin-bottom: 2em;
    display: inline-block;
}

.benefits {
    max-width: 60ch;
}

.heading-font {
    font-size: 2rem;
    text-align: center;
}

/* === FORM specific === */
.button {
    display: inline-block;
    width: 50%;
    margin: 1em;
}

/* === css for mobile === */
@media screen and (max-width: 770px) {
    section {
        padding-top: 9em;
    }
    h1 {
        font-size: 3rem;
    }
    .hero-subtitle {
        font-size: 1.2rem;
        margin-bottom: 1.5em;
    }
    .hero-guitar {
        width: 760px;
        height: auto;
        margin-top: 4em;
    }
    #deals {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        gap: 1em;
        padding-left: 0;
    }
    .footer-text {
        all: unset;
        display: flex;
        flex-direction: column;
    }
    .nav-link {
        font-size: 0.8rem;
    }
}
    @media screen and (max-width: 420px) {
        nav > ul {
            gap: 1em;
        }
        h1 {
            font-size: 2rem;
        }
        .hero-subtitle {
            margin-bottom: 2em;
        }
    }
